# جلوگیری از اجرای اسکریپت‌ها در پوشه‌ی آپلودها (ضد هک)
<FilesMatch "\.(php|php[0-9]|phtml|pht|phar|pl|py|cgi|asp|aspx|jsp|sh|shtml)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>

<IfModule mod_php.c>
  php_flag engine off
</IfModule>

Options -ExecCGI -Indexes
